/* styles.css */

body {
  background-color: #333; /* Cor de fundo para o tema noturno */
  color: #fff; /* Cor do texto para o tema noturno */
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}
.app-item-counter {
  border: 2px solid #fff; /* Adiciona uma borda branca */
  border-radius: 50%; /* Transforma o contador em um círculo */
  width: 40px; /* Define uma largura fixa */
  height: 40px; /* Define uma altura fixa */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 0 auto;
  font-size: 18px; /* Ajusta o tamanho da fonte */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
}

.app-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  /* padding: 20px; */
  margin: 0px 0px 5px 5px;
  width: 15rem; /* Define a largura de cada item */
  background-color: #222; /* Cor de fundo para o tema noturno */
  height: auto;
  flex: 1;
}

.app-item:nth-child(even) {
  margin-right: 0; /* Remove a margem à direita para o último item de cada linha */
  flex: 1;
}

.app-item-photo {
  margin-bottom: 10px;
  width: 150px;
}

.app-item-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cafe-item-label {
  font-size: 18px;
  font-weight: bold;
}
.cafe-item-label span {
  display: block;
}

.cafe-item-price {
  margin-left: 5px;
}

.botoes-container {
  display: flex;
  justify-content: space-between; /* Adiciona espaço entre os botões */
  margin-top: 10px;
}

.botao-add,
.botao-opcao-negativo,
.botao-opcao-positivo {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-add {
  background-color: #007bff;
  color: #fff;
}

.botao-opcao-negativo,
.botao-opcao-positivo {
  width: 48%; /* Define a largura dos botões positivo e negativo */
}

.botao-opcao-negativo {
  background-color: #dc3545;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.botao-opcao-positivo {
  background-color: #28a745;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.botao-add:hover,
.botao-opcao-negativo:hover,
.botao-opcao-positivo:hover {
  background-color: #0056b3;
}

.botoes-container {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin-top: 10px;
  margin-bottom: 20px;
}
